extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top#navbar(role='navigation')
    .collapse.navbar-collapse.navbar-ex5-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Music
        li
          a(href='/songs/new') Add Songs
      ul.nav.navbar-nav.navbar-right
        li
          a(href='http://peterklipfel.com') 
           strong Peter Klipfel
  .container
    .jumbotron
      #sliderWrap
        span#infoLink Information
        .row
          .col-md-2
            input.slider#slider1(type='text')
            br
            span.slider-label Energy
          .col-md-2
            input.slider#slider2(type='text')
            br
            span.slider-label Danceability
          .col-md-2
            input.slider#slider3(type='text')
            br
            span.slider-label Acousticness
          .col-md-2
            input.slider#slider4(type='text')
            br
            span.slider-label Liveness
          .col-md-2
            input.slider#slider5(type='text')
            br
            span.slider-label Speechiness
          .col-md-2
            input.slider#slider6(type='text')
            br
            span.slider-label Mood
        .row
          .col-md-12.text-center
            .btn-group
              button.btn.btn-primary.presetSelect#happy
                | Happy
              button.btn.btn-primary.presetSelect#angry
                | Angry
              button.btn.btn-primary.presetSelect#talk
                | Talk
              button.btn.btn-primary.presetSelect#dance
                | Dance
              button.btn.btn-primary.presetSelect#chill
                | Chill
        .row
          .col-md-12.text-center
            button.btn.btn-primary.btn-lg#random_song Random Song
            button.btn.btn-success.btn-lg#next_song Next Song
      #infoWrap
        span#sliderLink Sliders
        .row
          .col-md-12 This is an explanation of what I do.
  audio#radioStream
  script.
    window.addEventListener('load', onLoad, false);
    function onLoad() {
      var pageSliders = []
      for(var i=1; i<7; i++){
         pageSliders.push($('#slider'+i).slider({
          max: 1,
          min: 0,
          step: 0.001,
          value: Math.random(),
          tooltip: 'hide',
          orientation: 'vertical',
          selection: 'after'
        }))
      }
      pageSliders[0].slider('setValue', 0.5)
      function genRandomSliderVals(){
        var randomVals = {'energy':0.5, 'danceability':0.5, 'acousticness':0.5, 'liveness':0.5, 'speechiness':0.5,'valence':0.5}
        var j = 0;
        for(i in randomVals){
          randomVals[i] = Math.random()
          pageSliders[j].slider('setValue', randomVals[i])
          j += 1
        }
        return randomVals
      }
      function setSliderVals(vals){
        var j = 0;
        for(i in vals){
          pageSliders[j].slider('setValue', vals[i])
          j += 1
        }
      }
      function getSliderVals(){
        return { 'energy': 1 - $('#slider1').val(),
            'danceability': 1 - $('#slider2').val(),
            'acousticness': 1 - $('#slider3').val(),
            'liveness': 1 - $('#slider4').val(),
            'speechiness': 1 - $('#slider5').val(),
            'valence': 1 - $('#slider6').val() }
      }
      $.each($('.slider-label'), function(i, obj){
        $(obj).css('margin-left', '-'+($(obj).width()/3).toString()+'px' )
      })
      var audio = document.getElementById('radioStream')
      $.post(
        'songs/pick',
        genRandomSliderVals(),
        function(data){
          var audio = document.getElementById('radioStream')
          audio.src = '/radio/'+data.file;
          audio.play();
      });
      $("#next_song").click(function() {
        $.post(
          'songs/pick', 
          getSliderVals(),
          function(data){
            var audio = document.getElementById('radioStream')
            audio.src = '/radio/'+data.file;
            audio.play();
        });
      });
      $("#random_song").click(function() {
        $.post(
          'songs/pick', 
          genRandomSliderVals(),
          function(data){
            var audio = document.getElementById('radioStream')
            audio.src = '/radio/'+data.file;
            audio.play();
        });
      });
      $('#infoWrap').hide();
      $('#infoLink').click(function(){
        $('#sliderWrap').fadeOut(500, function(){
          $('#infoWrap').fadeIn(500);
        });
      });
      $('#sliderLink').click(function(){
        $('#infoWrap').fadeOut(500, function(){
          $('#sliderWrap').fadeIn(500);
        });
      });
      // Set buttons
      // unfortunately, because of the vertical hack, I have to do 1-valIWant
      $('#happy').click(function(){
        setSliderVals({
          'energy':0.2,
          'danceability':0.45,
          'acousticness':0.9,
          'liveness':0.6,
          'speechiness':0.5,
          'valence':0.1})
      });
      $('#angry').click(function(){
        setSliderVals({'energy':0.2, 
          'danceability':0.35, 
          'acousticness':0.4, 
          'liveness':0.8, 
          'speechiness':0.4,
          'valence':0.85})
      });
      $('#talk').click(function(){
        setSliderVals({'energy':0.95,
          'danceability':0.95,
          'acousticness':0.1,
          'liveness':0.2,
          'speechiness':0.01,
          'valence':0.7})
      });
      $('#dance').click(function(){
        setSliderVals({'energy':0.1,
          'danceability':0.05,
          'acousticness':0.1,
          'liveness':0.8,
          'speechiness':0.65,
          'valence':0.1})
      });
      $('#chill').click(function(){
        setSliderVals({'energy':0.8,
          'danceability':0.75,
          'acousticness':0.5,
          'liveness':0.6,
          'speechiness':0.4,
          'valence':0.7})
      });
    }