extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top#navbar(role='navigation')
    .collapse.navbar-collapse.navbar-ex5-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Music
        li
          a(href='/songs/new') Add Songs
      ul.nav.navbar-nav.navbar-right
        li
          a(href='http://peterklipfel.com') 
           strong Peter Klipfel
  .container
    .jumbotron
      #sliderWrap
        span#infoLink Information
        .row
          .col-md-2.text-center
            input.slider#slider1(type='text')
            br
            span.slider-label Energy
          .col-md-2.text-center
            input.slider#slider2(type='text')
            br
            span.slider-label Danceability
          .col-md-2.text-center
            input.slider#slider3(type='text')
            br
            span.slider-label Acousticness
          .col-md-2.text-center
            input.slider#slider4(type='text')
            br
            span.slider-label Liveness
          .col-md-2.text-center
            input.slider#slider5(type='text')
            br
            span.slider-label Speechiness
          .col-md-2.text-center
            input.slider#slider6(type='text')
            br
            span.slider-label Mood
        .row
          .col-md-12.text-center
            .btn-group
              button.btn.btn-primary.presetSelect#happy
                | Happy
              button.btn.btn-primary.presetSelect#angry
                | Angry
              button.btn.btn-primary.presetSelect#talk
                | Talk
              button.btn.btn-primary.presetSelect#dance
                | Dance
              button.btn.btn-primary.presetSelect#chill
                | Chill
              button.btn.btn-primary.presetSelect#random_song
                | Random
        .row
          .col-md-12.text-center
            button.btn.btn-success.btn-lg#next_song Find Song
      #infoWrap
        span#sliderLink Sliders
        .row
          .col-md-12 This application allows you to find songs based on different qualitites of music.
            |It uses the echonest api to acquire information about music, and then finds the closest 
            |musical match to your selection.  The sliders represent different attributes of a song
            |Acousticness measures how acoustic a song is, Speechiness will be higher for rap than 
            |instrumental music, Energy measures how much you want to get up and move to a song (moshing
            |or doing the charleston), Danceability represents how reasonably you can dance to a song
            |(a gong hit rates lower than a Tiesto track), Mood is high for good feeling songs
            |and low for negative feeling songs.
  audio#radioStream
  script.
    window.addEventListener('load', onLoad, false);
    function onLoad() {
      var pageSliders = []
      for(var i=1; i<7; i++){
         pageSliders.push($('#slider'+i).slider({
          max: 1,
          min: 0,
          step: 0.001,
          value: Math.random(),
          tooltip: 'hide',
          orientation: 'vertical',
          selection: 'after'
        }))
      }
      pageSliders[0].slider('setValue', 0.5)
      function genRandomSliderVals(){
        var randomVals = {'energy':0.5, 'danceability':0.5, 'acousticness':0.5, 'liveness':0.5, 'speechiness':0.5,'valence':0.5}
        var j = 0;
        for(i in randomVals){
          randomVals[i] = Math.random()
          pageSliders[j].slider('setValue', randomVals[i])
          j += 1
        }
        return randomVals
      }
      function setSliderVals(vals){
        var j = 0;
        for(i in vals){
          pageSliders[j].slider('setValue', vals[i])
          j += 1
        }
      }
      function getSliderVals(){
        return { 'energy': 1.0 - $('#slider1').data('slider').getValue(),
            'danceability': 1.0 - $('#slider2').data('slider').getValue(),
            'acousticness': 1.0 - $('#slider3').data('slider').getValue(),
            'liveness': 1.0 - $('#slider4').data('slider').getValue(),
            'speechiness': 1.0 - $('#slider5').data('slider').getValue(),
            'valence': 1.0 - $('#slider6').data('slider').getValue() }
      }
      var audio = document.getElementById('radioStream')
      $.post(
        'songs/pick',
        genRandomSliderVals(),
        function(data){
          var audio = document.getElementById('radioStream')
          audio.src = '/radio/'+data.file;
          audio.play();
      });
      $("#next_song").click(function() {
        console.log(getSliderVals())
        $.post(
          'songs/pick', 
          getSliderVals(),
          function(data){
            var audio = document.getElementById('radioStream')
            audio.src = '/radio/'+data.file;
            audio.play();
        });
      });
      $('#infoWrap').hide();
      $('#infoLink').click(function(){
        $('#sliderWrap').fadeOut(500, function(){
          $('#infoWrap').fadeIn(500);
        });
      });
      $('#sliderLink').click(function(){
        $('#infoWrap').fadeOut(500, function(){
          $('#sliderWrap').fadeIn(500);
        });
      });
      // Set buttons
      // unfortunately, because of the vertical hack, I have to do 1-valIWant
      $('#happy').click(function(){
        setSliderVals({
          'energy':1.0-0.913343913079762,
          'danceability':1.0-0.6100998931363761,
          'acousticness':1.0-0.7374224353316493,
          'liveness':1.0-0.6926573602661282,
          'speechiness':1.0-0.31465060102824693,
          'valence':1.0-0.8698287350605954})
      });
      $('#angry').click(function(){
        setSliderVals({'energy':1.0-0.9170251435909973, 
          'danceability':1.0-0.5805512315215549, 
          'acousticness':1.0-0.028052208252320028, 
          'liveness':1.0-0.058216302825603194, 
          'speechiness':1.0-0.19736226743764967,
          'valence':1.0-0.7162440850922133})
      });
      $('#talk').click(function(){
        setSliderVals({'energy':1.0-0.3415466066494113,
          'danceability':1.0-0.7965151133405258,
          'acousticness':1.0-0.8823552991380124,
          'liveness':1.0-0.28096379653416353,
          'speechiness':1.0-0.9523321352813255,
          'valence':1.0-0.7612421748854001})
      });
      $('#dance').click(function(){
        setSliderVals({'energy':1.0-0.901658582238437,
          'danceability':1.0-0.8208822535574742,
          'acousticness':1.0-0.006940006951758559,
          'liveness':1.0-0.17598336300124262,
          'speechiness':1.0-0.35546061315509914,
          'valence':1.0-0.8832765908615638})
      });
      $('#chill').click(function(){
        setSliderVals({'energy':1.0-0.33473998680400335,
          'danceability':1.0-0.4743918438774602,
          'acousticness':1.0-0.3332875568879346,
          'liveness':1.0-0.3146289271368771,
          'speechiness':1.0-0.026389763104301633,
          'valence':1.0-0.0911303089034443})
      });
      $('#random_song').click(function(){
        genRandomSliderVals();
      })
    }