extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top#navbar(role='navigation')
    .collapse.navbar-collapse.navbar-ex5-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Music
        li
          a(href='/songs/new') Add Songs
  .container
    .jumbotron
      .row
        .col-md-2
          input.slider#slider1(type='text', value='')
          br
          span.slider-label Energy
        .col-md-2
          input.slider#slider2(type='text', value='')
          br
          span.slider-label Danceability
        .col-md-2
          input.slider#slider3(type='text', value='')
          br
          span.slider-label Acousticness
        .col-md-2
          input.slider#slider4(type='text', value='')
          br
          span.slider-label Liveness
        .col-md-2
          input.slider#slider5(type='text', value='')
          br
          span.slider-label Speechiness
        .col-md-2
          input.slider#slider6(type='text', value='')
          span.slider-label Speed
      .row
        .col-md-12.text-center
          button.btn.btn-success.btn-lg#next_song Next Song
  audio#radioStream
  script.
    window.addEventListener('load', onLoad, false);
    function onLoad() {
      for(var i=1; i<7; i++){
        $('#slider'+i).slider({
          max: 20,
          min: 0,
          step: 0.1,
          value: 5,
          tooltip: 'hide',
          orientation: 'vertical',
          selection: 'after'
        })
      }
      $.each($('.slider-label'), function(i, obj){
        $(obj).css('margin-left', '-'+($(obj).width()/3).toString()+'px' )
      })
      var audio = document.getElementById('radioStream')
      audio.src = 'http://localhost:3000/radio/6416-1e3cmpk'
      audio.play();
      $("#next_song").click(function() {
        console.log('clicked!')
        $.post(
          'songs/pick', 
          {'Energy': $('#slider1').val()},
          function(data){
            console.log(data);
            var audio = document.getElementById('radioStream')
            audio.src = 'http://localhost:3000/radio/6991-1tgvunm';
            audio.play();
        });
      });
    }