extends layout
block content
  nav.navbar.navbar-default.navbar-fixed-top#navbar(role='navigation')
    .collapse.navbar-collapse.navbar-ex5-collapse
      ul.nav.navbar-nav
        li
          a(href='/') Music
        li.active
          a(href='/songs/new') Add Songs
  h1= title
  form( method="post", enctype="multipart/form-data")
    div
      div
        span Title :
        input(type="text", name="title", id="editSongTitle")
      div
        span Artist :
        textarea(name="body", rows=20, id="editSongBody")
      div
        span File :
        input(type="file", name="song")
      div#editSongSubmit
        input(type="submit", value="Upload")