body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

#navbar{
  border:none;
  background-color: #3498db;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#navbar .active > a{
  background-color: #2980b9;
  color: #ece0e1;
}

.slider{
  margin: 0 auto;
}

.btn-lg{
  width: 10vw;
  height: 10vh;
  margin: 20px;
  min-width: 115px;
}

.container{
  height: 100%;
}

.row{
  margin-top: 30px;
}

.slider-label {
  font-weight: 600;
  font-size: 25px;
}

.selected-key {
  font-size: 18px;
}

.jumbotron{
  background-color: #95a5a6;
  margin-top: 15%;
}

.panel-default {
  border: none;
}
.panel-default > .panel-heading{
  border: none;
  background-color: #95a5a6;
}
.panel-title {
  color: #ece0e1;
}
a:hover{
  text-decoration: none;
}
.panel-title:hover{
  color: #000;
  text-decoration: none;
  -webkit-transition:color 0.25s ease-in;  
  -moz-transition:color 0.25s ease-in;  
  -o-transition:color 0.25s ease-in;  
  transition:color 0.25s ease-in;
}

#infoLink, #sliderLink{
  position: relative;
  float: right;
  display: block;
  margin: -80px -50px;
  color: #fff;
  cursor: pointer;
}

.pickSongText{
  position: absolute;
}
.pickSongGroup{
  text-align: center
}
