body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar{
  border:none;
  background-color: #3498db;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

#navbar .active > a{
  background-color: #2980b9;
  color: #ece0e1;
}

.slider{
  margin: 0 auto;
}
